<!-- figure out how to make this an awesome AND searchable table -->


<%@influencers.each do |influencer|%>
<h3><%=influencer.image_url%></h3>
<h3><%=influencer.name%></h3>
<h3><%=influencer.role%></h3>
<h3><%=influencer.sport%></h3>
<h3><%=influencer.age%></h3>
<h3><%=influencer.gender%></h3>
<h3><%=influencer.location%></h3>
<h3><%=influencer.social_media%></h3>

<hr>

<%end%>