<h2><%=@influencer.image_url%></h2>
<h1>Profile Page for <%=@influencer.name%></h1>
<h2>Social Media Followers:<%=@influencer.social_media%></h2>
<h2><%=@influencer.role%></h2>
<h3><%=@influencer.sport%></h3>
<h3><%=@influencer.age%></h3>
<h3><%=@influencer.gender%></h3>
<h3><%=@influencer.location%></h3>

<h3><%= flash[:notice] %></h3>

 <!-- add attributes and make look way better -->
  <!-- include number of campaigns this influencer has been involved with -->

 <!-- if logic to make sure noone can delete THE influencer besides itself -->
  <!-- <%= link_to "delete", @influencer, method: :delete, data: { confirm: "Are You Sure?" } %> -->

 <!-- UPDATED logic to make sure noone can delete THE influencer besides itself -->

  <hr>
<% if @influencer == current_user %>
  <%= button_to "Delete Account", @influencer, method: :delete %>
<% end %>
