<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error|%>
   <li><%= error %></li>
    <% end %>
 </ul>
<% end %>

<%= form_for @campaign_influencer do |f| %>
<%=f.label :pitch%>
<%=f.text_area :pitch%> <br> <br>
<%= hidden_field_tag 'campaign_id', @current_campaign %>
<%=f.submit%>
<%end%>