<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error|%>
   <li><%= error %></li>
    <% end %>
 </ul>
<% end %>

 <!-- *** ADD some sort of SELECT option for the select drop down's so user has to make a selection -->

<%= form_for @campaign do |f| %>
<%=f.label :title%>
<%=f.text_field :title%> <br> <br>
<%=f.label :category%>
<select name=campaign[:category]>
 <option value="Food/Beverage">Food/Beverage</option>
 <option value="Apparel">Apparel</option>
 <option value="Equipment">Equipment</option>
 <option value="Supplements">Supplements</option>
</select><br> <br>
<%=f.label :type_of%>
<select name=campaign[:type_of]>
 <option value="Social Media Post">Social Media Post</option>
 <option value="Guest Speaker">Guest Speaker</option>
 <option value="Photoshoot">Photoshoot</option>
 <option value="Event Appearance">Event Appearance</option>
 <option value="Logo Placement">Logo Placement</option>
 <option value="Product Endorsement">Product Endorsement</option>
</select><br> <br>
<%=f.label :budget%>
<%=f.text_area :budget%> <br> <br>
<%=f.label :summary%>
<%=f.text_area :summary%> <br> <br>
<%=f.label :status%>
<select name=campaign[:status]>
 <option value="Active">Active</option>
 <option value="Inactive">Inactive</option>
</select><br> <br>
<%=f.label :image_url%>
<%=f.text_area :image_url%> <br> <br>
<%=f.submit%>
<%end%>