<div class="container">
Title: <h1><%=@campaign.title%></h1>
Sponsoring Brand: <h1><%=@campaign.brand.name%></h1>
Category: <h2><%=@campaign.category%></h2>
Type: <h3><%=@campaign.type_of%></h3>
Budget: <h3>$<%=@campaign.budget%></h3>
Description: <h3><%=@campaign.summary%></h3>
Status: <h3><%=@campaign.status%></h3>

 <%= image_tag @campaign.image_url, size: "230" %><br>

<%= link_to "Apply to be an influencer", new_campaign_influencer_path(:campaign_id => @campaign.id) %>

 <!-- if logic to make sure noone can delete THE brand besides itself -->

  <%= link_to "delete", @campaign, method: :delete, data: { confirm: "Are You Sure?" } %>
</div>

